#full-height-container {
    background-color: #002b36;
}

a.expand-collapse-trigger {
    background-color: #002b36;
}

div.acs-side-bar.ia-scrollable-section {
    background-color: #002b36;
}

div.aui-page-panel {
    background-color: #eee8d5;
    color: #586e75;
    font-family: Helvetica;
    margin-left: 322px;
    padding-bottom: 1em;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 1em;
    width: 560px;
}

div.ia-splitter {
    background-color: #002b36;
}

nav.aui-header.aui-dropdown2-trigger-group {
    background-color: #002b36;
}

